@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Kumbh Sans";
        src: url("./assets/fonts/static/KumbhSans-Regular.ttf");
        font-weight: 400;
    }
    @font-face {
        font-family: "Kumbh Sans";
        src: url("./assets/fonts/static/KumbhSans-Bold.ttf");
        font-weight: 700;
    }
  html {
    font-family: "Kumbh Sans", sans-serif;
  }
  body {
    @apply text-darkGrayishBlue;
  }
}